* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: rgb(18, 18, 20);
}

img {
  position: absolute;
  margin-top: 45%;
  left: 50%;
}

.git-image {
  position: absolute;
  margin-top: 5%;
  left: 50%;
  width: 30px;
  height: auto;
}

img {
  /* Start the shake animation and make the animation last for 0.5 seconds */
  animation: shake 4s ease-in-out;

  /* When the animation is finished, start again */
  animation-iteration-count: 1;
}

@keyframes shake {
  0% { transform: translate(-600px, 200px) rotate(0deg); }
  33% { transform: translate(0px, -180px) rotate(00deg); }
  66% { transform: translate(100px, -90px) rotate(0deg); }
  100% { transform: translate(0px, 0px) rotate(0deg); }
  
 
}